apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prometheus
  namespace: monitoring
spec:
  entryPoints:
    - web        
  routes:
    - match: Host(`prometheus.127.0.0.1.nip.io`)
      kind: Rule
      services:
        - name: prometheus-server 
          port: 80
